langchain==0.1.12
langchain-community==0.0.28
qdrant-client==1.8.0
streamlit==1.31.1
requests==2.29.0
simplejson==3.19.2
python-dotenv==1.0.1
yagmail==0.15.293
deep-translator==1.11.4
streamlit-feedback==0.1.2
lingua-language-detector==2.0.2
streamlit_mic_recorder==0.0.8
bokeh==2.4.3
pypdf==4.1.0
cohere==4.56